@CHARSET "UTF-8";

@font-face {
    font-family: 'MyriadProBold';
    src: url('fonts/myriad/bold/myriadpro-bold.eot');
    src: url('fonts/myriad/bold/myriadpro-bold.eot') format('embedded-opentype'),
         url('fonts/myriad/bold/myriadpro-bold.woff2') format('woff2'),
         url('fonts/myriad/bold/myriadpro-bold.woff') format('woff'),
         url('fonts/myriad/bold/myriadpro-bold.ttf') format('truetype'),
         url('fonts/myriad/bold/myriadpro-bold.svg#MyriadProBold') format('svg');
}

@font-face {
    font-family: 'MyriadProRegular';
    src: url('fonts/myriad/regular/myriadpro-regular.eot');
    src: url('fonts/myriad/regular/myriadpro-regular.eot') format('embedded-opentype'),
         url('fonts/myriad/regular/myriadpro-regular.woff2') format('woff2'),
         url('fonts/myriad/regular/myriadpro-regular.woff') format('woff'),
         url('fonts/myriad/regular/myriadpro-regular.ttf') format('truetype'),
         url('fonts/myriad/regular/myriadpro-regular.svg#MyriadProRegular') format('svg');
}

