.contenedorlineal h3{
	display: inline;
    vertical-align: top;
    font-size: 20px;
    line-height: 28px;
	font-family: Arial;
    color: #007FFF;
}

.contenedorlineal p {
    display: inline;
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
    line-height: 28px;
}

.contenedorlinealbajo h3,h4, h5, h6{
	display: inline;
    vertical-align: top;
    font-size: 20px;
    line-height: 28px;
	font-family: Arial;
    color: #007FFF;
}

.contenedorlinealbajo p {
    display: inline;
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
    line-height: 28px;
}


h2, h3, h4, h5 {
    font-style: italic;
}

@font-face {
    font-family: MyriadProBold;
    src: url(fonts/myriad/bold/myriadpro-bold.eot);
    src: url(fonts/myriad/bold/myriadpro-bold.eot) format('embedded-opentype'), url(fonts/myriad/bold/myriadpro-bold.woff2) format('woff2'), url(fonts/myriad/bold/myriadpro-bold.woff) format('woff'), url(fonts/myriad/bold/myriadpro-bold.ttf) format('truetype'), url(fonts/myriad/bold/myriadpro-bold.svg#MyriadProBold) format('svg');
}
@font-face {
    font-family: MyriadProRegular;
    src: url(fonts/myriad/regular/myriadpro-regular.eot);
    src: url(fonts/myriad/regular/myriadpro-regular.eot) format('embedded-opentype'), url(fonts/myriad/regular/myriadpro-regular.woff2) format('woff2'), url(fonts/myriad/regular/myriadpro-regular.woff) format('woff'), url(fonts/myriad/regular/myriadpro-regular.ttf) format('truetype'), url(fonts/myriad/regular/myriadpro-regular.svg#MyriadProRegular) format('svg');
}
@font-face {
    font-family: Hobostdmedium;
    src: url(fonts/hobostdmedium/Hobo-Std-Medium.ttf) format('truetype');
}
@font-face {
    font-family: BerlinSansFb;
    src: url(fonts/BerlinSansFb/BRLNSR.eot);
    src: url(fonts/BerlinSansFb/BRLNSR.ttf) format('truetype'), url(fonts/BerlinSansFb/BRLNSR.woff) format('woff');
}
body {
    font-size: 16px;
}
.cabecera {
    background-color:  rgba(156,  43,  23,  0.10);
    border-radius:  5px;
}
.cabecera p {
    font-family: Arial;
    color: #FFF;
    line-height: 20px;
}
h1, h2, h3 {
    color: #1951B3;
}
h1 {
    font-family: Hobostdmedium;
    text-align: center;
}
h2, h3 {
    font-family: MyriadProRegular;
}
.letterwhite {
    font-family: MyriadProBold;
    color: #FFF;
} 
.h5red {
    color: #9B2B17;
}

p {
    font-size: 20px;
}
.cuerpo p {
    font-family: Arial;
    color: #007FFF;
    line-height: 2 em;
}
.cuerpo p.comentarios {
    font-family: BerlinSansFb;
    color: #999;
}
b {
    font-size: 23px;
    letter-spacing: .05em;
}
.pie p {
    font-family: MyriadProRegular;
    color: #FFF;
}
p.primeralinea5 {
    text-indent: 5px;
}
p.primeralinea10 {
    text-indent: 10px;
}
.letra12 {
    font-size: 1.1em;
}
.bordeSuperiorInferior {
    padding: 2% 0;
    border-top: 5px solid #9C2B17;
}
.top5 {
    margin-top: 5px;
}
.top7 {
    margin-top: 7px;
}
.top10 {
    margin-top: 10px;
}
.top15 {
    margin-top: 15px;
}
.top17 {
    margin-top: 17px;
}
.top30 {
    margin-top: 30px;
}
.top50 {
    margin-top: 50px;
}
.fondopie {
    background-color: #9C2B17;
}
.fondopie p {
    font-size: 16px;
}
.carousel img {
    border-radius: 10px;
}
.carousel-control {
    background-image: none!important;
}
.flotante {
    display: scroll;
    position: fixed;
    z-index: 1;
    right: 0;
}
.medioCabecera {
    margin-top:  10%;
}

